.vs
bin
IntDir
*.db
IntDir/FsFilter1/Win32/Debug/FsFilter1.log
IntDir/FsFilter1/Win32/Debug/FsFilter1.tlog/inf2cat-expand.read.1.tlog
IntDir/FsFilter1/Win32/Debug/FsFilter1.tlog/inf2cat-expand.write.1.tlog
IntDir/FsFilter1/Win32/Debug/FsFilter1.tlog/signtool.timestamp.1.tlog
IntDir/FsFilter1/Win32/Debug/callbacks_ps.obj
IntDir/FsFilter1/Win32/Debug/communication_server.obj
IntDir/FsFilter1/Win32/Debug/debug.obj
IntDir/FsFilter1/Win32/Debug/driver1.Build.CppClean.log
IntDir/FsFilter1/Win32/Debug/driver1.inf
IntDir/FsFilter1/Win32/Debug/driver1.obj
IntDir/FsFilter1/Win32/Debug/minifilter_callbacks.obj
IntDir/FsFilter1/Win32/Debug/vc140.pdb
IntDir/dll1/Win32/Debug/communication.obj
IntDir/dll1/Win32/Debug/debug.obj
IntDir/dll1/Win32/Debug/dll1.log
IntDir/dll1/Win32/Debug/dll1.obj
IntDir/dll1/Win32/Debug/public_api.obj
IntDir/dll1/Win32/Debug/vc140.idb
IntDir/dll1/Win32/Debug/vc140.pdb
IntDir/test1/Win32/Debug/test1.log
IntDir/test1/Win32/Debug/test1.obj
IntDir/test1/Win32/Debug/vc140.idb
IntDir/test1/Win32/Debug/vc140.pdb
bin/Win32/Debug/FsFilter1/driver1.cat
bin/Win32/Debug/FsFilter1/driver1.inf
bin/Win32/Debug/FsFilter1/driver1.sys
bin/Win32/Debug/dll1.dll
bin/Win32/Debug/dll1.exp
bin/Win32/Debug/dll1.ilk
bin/Win32/Debug/dll1.lib
bin/Win32/Debug/dll1.map
bin/Win32/Debug/dll1.pdb
bin/Win32/Debug/driver1.inf
bin/Win32/Debug/driver1.pdb
bin/Win32/Debug/driver1.sys
bin/Win32/Debug/test1.exe
bin/Win32/Debug/test1.ilk
bin/Win32/Debug/test1.pdb
drivers.VC.db
